In [57]:
import pandas as pd
import os
import csv
import matplotlib.pyplot as plt
import hvplot.pandas
from pathlib import Path
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

csv_data = os.path.join(".","Border_Crossing_Entry_Data.csv")

border_df = pd.read_csv(csv_data)

border_df['Date'] = pd.to_datetime(border_df['Date'].str.strip(), errors='coerce')

#Drop any NAs
border_df = border_df.dropna(subset=['Date'])

#extract the 'year'
border_df['Year'] = border_df['Date'].dt.year

#remove any zeros
border_df = border_df.dropna(subset = ['Value'])
border_df = border_df[border_df['Value'] > 0]

#group by year and port
annual_data = border_df.groupby(['Year'], as_index=False)['Value'].sum()

#Sort the data
annual_data = annual_data.sort_values(by=['Year'])

#create a column for change from year to year
annual_data['Annual Change'] = annual_data['Value'].pct_change()

# Set the first year's Annual Change to 0
annual_data['Annual Change'].iloc[0] = 0

# Convert 'Annual Change' to percentage 
annual_data['Annual Change'] = annual_data['Annual Change'] * 100

#create column which can be used to predict increase or decrease
annual_data['Increase'] = (annual_data['Annual Change'] > 0).astype(int)

annual_data

C:\Users\mhennessy\AppData\Local\Temp\ipykernel_15684\4102642739.py:37: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  annual_data['Annual Change'].iloc[0] = 0
C:\Users\mhennessy\AppData\Local\Temp\ipykernel_15684\4102642739.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  annual_data['Annual Change'].iloc[0] = 0

    Year      Value  Annual Change  Increase
0   1996  429790351       0.000000         0
1   1997  494174198      14.980291         1
2   1998  508588404       2.916827         1
3   1999  538456724       5.872788         1
4   2000  540021542       0.290612         1
5   2001  493083902      -8.691809         0
6   2002  475702818      -3.524975         0
7   2003  456392653      -4.059292         0
8   2004  458220298       0.400455         1
9   2005  450234268      -1.742836         0
10  2006  440296022      -2.207350         0
11  2007  417587175      -5.157632         0
12  2008  399902033      -4.235078         0
13  2009  359451762     -10.115045         0
14  2010  344246536      -4.230116         0
15  2011  332226000      -3.491839         0
16  2012  344503916       3.695652         1
17  2013  356218438       3.400403         1
18  2014  363314116       1.991946         1
19  2015  365219998       0.524582         1
20  2016  367484183       0.619951         1
21  2017  372971276       1.493151         1
22  2018  379157157       1.658541         1
23  2019  370200015      -2.362382         0
24  2020  200531716     -45.831521         0
25  2021  224159112      11.782374         1
26  2022  310481511      38.509431         1
27  2023  347890030      12.048550         1
28  2024  273385558     -21.416099         0

In [58]:
annual_data.dtypes

Year               int32
Value              int64
Annual Change    float64
Increase           int32
dtype: object

In [59]:
# Select features and target
X = annual_data.drop(columns=['Increase'])
y = annual_data['Increase']

In [60]:
y.head()

0    0
1    1
2    1
3    1
4    1
Name: Increase, dtype: int32

In [61]:
y.value_counts

<bound method IndexOpsMixin.value_counts of 0     0
1     1
2     1
3     1
4     1
5     0
6     0
7     0
8     1
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    1
17    1
18    1
19    1
20    1
21    1
22    1
23    0
24    0
25    1
26    1
27    1
28    0
Name: Increase, dtype: int32>

In [62]:
# Assign a random_state of 1 to the function
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    random_state=1
                                                   )

# Assign a random_state parameter of 1 to the model
classifier = LogisticRegression(random_state=1)

# Fit the model using training data
classifier.fit(X_train, y_train)

# Make a prediction using the testing data
predictions = classifier.predict(X_test)
predictions

array([0, 0, 0, 0, 0, 0, 0, 0])

In [63]:
# Generate a confusion matrix for the model
pd.DataFrame(confusion_matrix(y_test, predictions))

   0  1
0  2  0
1  6  0

In [64]:
# Print the classification report for the model
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.25      1.00      0.40         2
           1       0.00      0.00      0.00         6

    accuracy                           0.25         8
   macro avg       0.12      0.50      0.20         8
weighted avg       0.06      0.25      0.10         8

C:\Users\mhennessy\AppData\Local\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\mhennessy\AppData\Local\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\mhennessy\AppData\Local\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [65]:
# Calculate and print the accuracy score
accuracy = accuracy_score(y_test, predictions)
print(f"Accuracy Score: {accuracy:.4f}")

Accuracy Score: 0.2500